body {
    margin: 0;
    display: flex;
    justify-content: center;
    background: black;
    font-family: "Inter", sans-serif;
}

#container {
    margin-top: 30px;
    border: 5px solid black;
}

#top-section {
    background: #6943FF;
    width: 550px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: #CCC1FF;
}

input {
    width: 115px;
    height: 80px;
    background: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 8px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

#convert-btn {
    background: white;
    width: 115px;
    height: 40px;
    margin-top: 8px;
    border-radius: 10px;
    border: none;
    color: red;
    font-size: 16px;
}

#bottom-section {
    background: #1F2937;
    height: 430px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#volume {
    background: #273549;
    width: 500px;
    height: 100px;
    margin: 15px 0;
}

#length {
    background: #273549;
    width: 500px;
    height: 100px;
    margin: 15px 0;
}

#mass {
    background: #273549;
    width: 500px;
    height: 100px;
    margin: 15px 0;
}

p {
    color: white;    ;
}